body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,rgb(244, 252, 255), rgb(233, 242, 253));
    /* background-color: rgb(25, 25, 102); not working?? */
}

.hero{
    text-align: center;
    padding: 30px 20px;
    background: linear-gradient(180deg, rgb(47, 154, 173),rgb(4, 83, 148));
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.hero h1{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.hero p{
    color: #fff;
}

.quiz-categories{
    background: linear-gradient(135deg,rgb(239, 251, 255), rgb(224, 234, 248));
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.quiz-category-box{
    background: #fff;
    padding: 15px;
    border-radius: 13px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.quiz-category-box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, #031363, #00a1f1);
}

.quiz-category-box:hover{
    transform: translateY(-2px) translateX(1px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.category-title{
    text-align: center;
    color: #000a54;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
}

.subcategory-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subcategory-list li {
  margin-bottom: 8px;
}

.subcategory-list li a{
    display: block;
    text-decoration: none;
    padding: 6px 10px;
    color: #333;
    font-size: 15px;
    transition: all 0.2s ease;
    border-radius: 8px;
}

.subcategory-list li a:hover {
  background: #c8f0f4;
  font-weight: 600;
  color: #002c5f;
  transform: translateX(4px);
}

@media (max-width: 576px) {
  .quiz-category-box {
    padding: 16px;
  }

  .category-title {
    font-size: 16px;
  }

  .subcategory-list li a {
    font-size: 13px;
  }
}

/*Quiz Page*/

.quiz-page {
    min-height: 100vh;
    background: linear-gradient(135deg,rgb(244, 252, 255), rgb(233, 242, 253));
    padding: 20px;
}
.quiz-container {
    /* max-width: 750px; */
    padding: 10px;
    max-width: 850px;
    margin: 0 auto;
     background: linear-gradient(135deg,rgb(226, 242, 248), rgb(216, 228, 245));
    /* background: linear-gradient(135deg,rgb(239, 251, 255), rgb(224, 234, 248)); */
}

.quiz-header {
    background: linear-gradient(180deg, #031363, #00a1f1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    margin-bottom: 12px;
}

.category-badge {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background: rgba(7, 61, 154, 0.461);
    padding: 14px;
    border-radius: 999px;
    border: 1px solid rgb(46, 100, 193);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.subcategory-badge {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background: rgba(7, 61, 154, 0.461);
    padding: 14px;
    border-radius: 999px;
    border: 1px solid rgb(46, 100, 193);
    letter-spacing: 0.5px;
    margin-left: 10px;
    /* text-transform: uppercase; */
}


.quiz-timer {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.question-counter {
    font-size: 16px;
    color: #64748b;
    margin-bottom: 12px;
}

.progress-wrapper {
    width: 100%;
    height: 10px;
    background: #e5e7eb;
    border-radius: 999px;
    overflow: hidden;
    margin-bottom: 18px;
}

.progress-bar-fill {
    width: 10%;
    height: 100%;
    background: linear-gradient(130deg, #031363, #00a1f1);
    border-radius: inherit;
    transition: width 0.3s ease;
}

.question-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    margin-bottom: 15px;
    position: relative;
}

.question-card h2 {
    font-size: 24px;
    font-weight: 600;
    color: #0f172a;
    line-height: 1.5;
}

.question-card h2::before{
    content: "";
    position: absolute;
    width: 5px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #031363, #00a1f1);
    height: 100%;
    border-radius: 16px;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.option-btn {
    width: 100%;
    background: #ffffff;
    border: 2px solid #e2e8f0;
    border-radius: 14px;
    padding: 16px 18px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease;
}

.option-btn:hover:not(:disabled) {
    transform: translateY(-2px);
    border-color:#05197d;
    box-shadow: 0 8px 20px rgba(79,70,229,0.12);
}

.option-btn.correct {
    background: #dcfce7;
    border-color: #16a34a;
    color: #166534;
}

.option-btn.wrong {
    background: #fee2e2;
    border-color: #dc2626;
    color: #991b1b;
}

.option-btn:disabled {
    cursor: default;
}

.quiz-navigation {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.quiz-btn {
    border: none;
    background: linear-gradient(170deg, #031363, #00a1f1);
    color: white;
    padding: 12px 28px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
}

.quiz-btn:hover {
    background:linear-gradient(180deg, #031363, #00a1f1);
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    transform: translateY(-2px);
}

.submit-btn {
    display: none;
    background: #16a34a;
}

.submit-btn:hover {
    background: #15803d;
}

@media (max-width: 768px) {

    .quiz-header {
        padding: 14px 16px;
    }

    .quiz-category {
        font-size: 16px;
    }

    .quiz-timer {
        font-size: 16px;
    }

    .question-card {
        padding: 22px;
    }

    .question-card h2 {
        font-size: 20px;
    }

    .option-btn {
        font-size: 15px;
        padding: 14px;
    }
}

.timer-warning {
    color: red !important;
    font-weight: 700;
}

.result-card {
    background: #ffffff;
    border-radius: 20px;
    padding: 50px 30px;
    text-align: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    max-width: 850px;
    margin: 0 auto;
}

.result-icon {
    font-size: 80px;
    margin-bottom: 20px;
}

.result-icon .fa-trophy { 
    color: #f59e0b; 
}
.result-icon .fa-star { 
    color: #3b82f6; 
}
.result-icon .fa-face-smile { 
    color: #22c55e; 
}
.result-icon .fa-book-open { 
    color: #6366f1; 
}

.result-message {
    font-size: 28px;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 10px;
}

.result-score {
    font-size: 48px;
    font-weight: 800;
    background: linear-gradient(135deg, #031363, #00a1f1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}